<h1>Edit Information for <%= @place.title %></h1>
<h2>We Want To See That Awesome Art!</h2>
<p><%= @error %></p>
<form action="/art/<%=@place.id%>" method="post">
     <input type="hidden" name="_method" value="patch"> 
      <label>Title</label>
      <input type="text" name="place[title]" value="<%= @place.title %>">
      
     
     
      <label>Image URL</label>
      <input type="text" name="place[image]" value="<%= @place.image%>">
      <button type="submit">Edit Artwork</button>
</form>