<h1>Edit Information for <%= @place.title %></h1>
<p><%= @error %></p>
<form action="/places/<%=@place.id%>" method="post">
     <input type="hidden" name="_method" value="patch"> 
      <label>Title</label>
      <input type="text" name="place[title]" value="<%= @place.title %>">
      <label>Address</label>
      <input type="text" name="place[address]" value="<%= @place.address %>">
      <label>Description</label>
      <textarea type="textarea" name="place[description]" value="<%= @place.description %>"></textarea>
      <label>Image URL</label>
      <input type="text" name="place[image]" value="<%= @place.image%>">
      <button type="submit">Edit Pizza Place</button>
</form>